@model todo.Models.Item

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var items = new SelectList(new[]
                   {
                       new SelectListItem {Text = "Not Selected", Value = ""},
                       new SelectListItem {Text = "Male", Value = "Male"},
                       new SelectListItem {Text = "Female", Value = "Female"},
                   }, "Text", "Value");
}

<h2>Write to us</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            Type your enquiry in below, in any language.
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            Hit submit - the next page will show your enquiry in a list, where you can go in and respond using translation services. 
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            (<font color="red">*</font>) = fields you must fill in.
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="dropdown">
                @Html.DropDownListFor(model => model.gender, @items)
                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.RequiredLabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.RequiredLabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.RequiredLabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Enquiry, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.RequiredLabelFor(model => model.Enquiry, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Enquiry, new { htmlAttributes = new { @class = "big-text" } })
            @Html.ValidationMessageFor(model => model.Enquiry, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Go to Enquiry List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
